<footer>
    <div id="footerLinks">
		<a href="#" title="Cart">+</a>
		<a href="#" title="Contacts">Day</a>
		<a href="#" title="Cart">Week</a>
		<a href="#" title="Login/Register">Month</a>
	  </div>
  </footer>
