<header>
  <%= link_to calendar_day_path do %>
  <div id="logo">
    Travlendar+
  </div>
<% end %>

<div id="headerLinks">
  <a href="#" title="Contacts">Contacts</a>
  <button id="bottone" onclick="buttonClicked()">Calendar</button>
  <a href="#" title="Login/Register">Settings</a>
  <a href="#" title="Cart">Notifications</a>
</div>
</header>