<div class=" title-go-back-block">
  <div class="go-back">
    <%= link_to image_tag('go_back_icon.png', id: 'go-back-image'), path %>
  </div>
  <div class="title-block">
    <h1>
      <%= title %>
    </h1>
  </div>
  <div class="go-back"></div>
</div>