<html>

<head>
	<meta charset="utf-8">
	<title>Travlendar+: Complete Registration</title>
</head>

<body>
<div class="outer">
	<div id="mainWrapper" style="width: 80%;">
		<%= render 'shared/title_back_action', title: 'Create your First Default Location!' %>
		<%= render 'shared/new_default_location' %>
	</div>
</div>


</body>

</html>
