<%= render 'shared/header', selected: 'settings' %>
<div id="content">
	<script type="text/javascript"></script>
	<%= render 'shared/calendar_sidebar' %>
	<section class="mainContent" >
		<%= render 'shared/title_back_action', title: @default_location.name %>


	</section>
</div>
<%= render 'shared/footer' %>