/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "main.scss";

/* Apply font to everything */
* {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


/* Handy little three-lines menu icon */
.box-shadow-menu {
  content: "";
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.3em 0 0 black,
  0 0.6em 0 0 black;
}

/* to avoid blue or underlined links */
a /*:-webkit-any-link*/
{
  color: inherit;
  text-decoration: none;
}

body {
  background: $background_image_url fixed;
}

/* Logo placeholder*/
#logo {
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 1.00);
  background-color: #575756;
  /* font: Rockwell; */
  font-style: bold;
  font-style: italic;
}

#logo-a {
  width: 20%;
  min-width: 300px;
  background-color: $dark_grey;
  height: calc(100% - 20px);
}

/* div for Links in header */
#headerLinks {
  float: right;
  width: 80%;
  max-width: calc(100% - 300px);
  text-align: center;
  background-color: #575756;
  height: 100%;
}

/* Links in header */
#headerLinks a {
  text-decoration: none;
  width: 25%;
  display: inline-block;
  height: calc(100% - 20px);
  /* text-align: justify; */
  /* padding-left: 10%; */
  /* padding-right: 10%; */
}

#headerLinks a div {
  display: inline-block;
}

#notifications-amount {
  right: 20%;
  transform: translate(0px, -5px);
  font-size: 10px;
  width: 15px;
  height: 16px;
  line-height: 15px;
  border-radius: 100%;
  background-color: $light_grey;
  color: $dark_grey;
}

#headerLinks a.selected #notifications-amount {
  background-color: $dark_grey;
  color: $light_grey;
}

/* pasted things about footer*/
/* footer */
footer {
  clear: both;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 10000;
  background-color: #575756;
  padding-top: 0px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/*Each footer content */
footer div {
  width: 100%;
  float: left;
  /* padding-left: 4%; */
  /* padding-right: 2%; */
  color: rgba(255, 255, 255, 1.00);
  text-align: center;
}

/* Links in header/footer */
header a, footer a {
  color: $light_grey;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
}

header a.selected, footer a.selected {
  color: $dark_grey;
  background-color: $light_grey;
}

header a.selected:hover, footer a.selected:hover {
  color: rgba(255, 255, 255, 1.00);
}

/* Container for links in footer */
footer .footerlinks {
  float: none;
  width: 100%;
  position: relative;
  top: 17px;
  clear: both;
  text-align: center;
  left: 0%;
  padding-bottom: 19px;
}

footer .under-sidebar {
  width: 20%;
  min-width: 300px;
}

footer .under-sidebar a {
  width: 100%;
}

footer .under-content {
  width: 80%;
  max-width: calc(100% - 300px);
}

footer .under-content a {
  width: 33.333%;
}

/* Links in footer */
.footerlinks p a {
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
  padding-right: 35px;
}

/* Paragraphs in footer */
footer .footerlinks p {
  display: inline;
}

/* Container for links in footer */
footer .footerlinks {
  padding-left: 8%;
  text-align: center;
}

#footerLinks {
  width: 100%;
  background-color: #575756;
  display: inline-table;
}

.rounded-box {
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@charset "utf-8";
/* Global Styles */
a:hover {
  color: rgba(255, 255, 255, 1.00);
}

/*header*/
header {
  color: rgba(146, 146, 146, 1.00);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: unset;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0px;
  z-index: 10000;
  font-size: 16px;
}

/* Main content of the site */
#content {
  padding-top: 40px;
}

/* Sidebar */
#content .sidebar {
  color: rgba(146, 146, 146, 1.00);
  width: 20%;
  min-width: 300px;
  position: fixed;
  top: 40px;
  bottom: 0px;
  overflow-y: auto;
  float: left;
  /*padding-left: 3%;
  padding-right: 3%;*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  text-align: center;
  background-color: #DADADA;
}

/* Sidebar calendar */
#content .sidebar .calendar-month:not(:last-child) {
  margin-bottom: 20px;
}

#content .sidebar .calendar-month {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#content .sidebar .calendar-month table {
  border-collapse: separate;
  border-spacing: 8px;
}

#content .sidebar .calendar-month .month {
  cursor: pointer;
}

#content .sidebar .calendar-month .month:hover {
  color: white;
}

#content .sidebar .calendar-month td {
  cursor: pointer;
}

#content .sidebar .calendar-month td:hover {
  color: white;
}

#content .sidebar .calendar-month td .week-icon {
  width: 16px;
  height: 16px;
}

/* main content of the site */
#content .mainContent {
  float: right;
  width: 80%;
  max-width: calc(100% - 300px);
  text-align: center;
  overflow: auto;
  margin-bottom: 40px;
  position: relative;
}

.innerContent {
  padding-left: 5%;
  padding-right: 5%;
}

/*menubar's properties for menus in sidebar */
#content .sidebar #menubar {
  text-align: left;
  color: rgba(146, 146, 146, 1.00);
  position: relative;
  left: 0%;
}

/* Search field in sidebar */
#content .sidebar #search {
  width: 100%;
  border-radius: 0px;
  height: 42px;
  text-align: center;
  color: rgba(208, 207, 207, 1.00);
  font-size: 14px;;
  margin-bottom: 21px;
}

/*menu elements */
.menu ul li {
  list-style-type: none;
  font-size: x-large;
  position: relative;
  left: -35px;
  padding-top: 12px;
}

/* Container for links in footer */
footer .footerlinks {
  margin-top: -15px;
}




/* IF SCREEN IS SMALL (less than 900px) ... */
@media (max-width: $mobile_max_width) {
  .sidebar {
	display: none;
  }

  .mainContent, #headerLinks {
	width: 100% !important;
	max-width: 100% !important;
  }

  #logo, #logo-a{
	display: none !important;
  }

  footer .under-sidebar {
    width: 25%;
    min-width: 0;
  }

  footer .under-content {
    width: 75%;
    max-width: none;
  }
}
