// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application.css.scss";

.meeting {
	background-color: $blue;
    padding: 20px;
    width: 60%;
    text-align: left;
    margin: 0 auto;
    position: relative;
	z-index: 2;
}

.meeting + .meeting {
	margin-top: 20px;
}

.meeting-title, .meeting-location, .default-location-name {
	padding-top: 5px;
}

.meeting-date, .default-location-name {
	font-weight: bold;
}

.meeting-location, .default-location-location {
	font-style: italic;
}

.travel-container {
	position: relative;
	margin: 25px 0;
}

.travel {
	background-color: $light_grey;
    padding: 20px;
    width: 25%;
    text-align: center;
    position: relative;
}

.travel.left-align {
	margin-left: 18.5%;
}

.travel.right-align {
	margin-left: 53.5%;
}

.travel-mean {
	background-color: $light_grey;
    position: absolute;
	width: 10%;
	height: 100%;
	left: 44%;
	z-index: 1;
}

.travel-mean-icon {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.icon-walking, .icon-biking, .icon-public_transportation, .icon-driving {
	background: image_url("travel_mean_icons/car.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 20px;
}

.calendar-vertical-line {
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: $light_grey;
	width: 100%;
	height: 200%;
}

.detail {
	text-transform: uppercase;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	color: black;
}

.detail:hover {
	color: rgba(255,255,255,1.00);
}

.travel.left-align .detail {
	right: unset;
	left: 20px;
}

.default-location {
	background-color: $blue_green;
    padding: 20px;
    width: 60%;
    text-align: left;
    margin: 0 auto;
    position: relative;
	z-index: 2;
}

.date-separator {
	background-color: $dark_grey;
    padding: 20px;
    width: 60%;
    text-align: left;
    position: relative;
	z-index: 2;
	margin: 20px auto;
	text-align: center;
	color: $light_grey;
	font-weight: bold;
	cursor: pointer;
}

$transition_time: 0.5s;

.date-separator::after {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	text-align: center;
	-webkit-transition: all $transition_time;
	-o-transition: all $transition_time;
	transition: all $transition_time;
	color: $light_grey;
	content: '+';
	transform: rotate(45deg);
	transform-origin: center;
	font-size: 1.5em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
}

.date-separator.closed::after {
	transform: rotate(180deg);
	transform-origin: center;
}

.date-accordion {
	overflow: hidden;
	-webkit-transition: max-height $transition_time;
	-o-transition: max-height $transition_time;
	transition: max-height $transition_time;
	margin-bottom: 20px;
}

.date-accordion > div:last-child {
	margin-bottom: 20px;
}

.prev, .next {
	background-color: $dark_grey;
	width: 10%;
	position: absolute;
	top: 20px;
	padding: 20px;
	color: $light_grey;
	cursor: pointer;
	font-weight: bold;
}

.prev:hover, .next:hover {
	color: rgba(255,255,255,1.00);
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}