// Place all the styles related to the Meeting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application.css.scss";
$dark_grey: #575756;
$light_grey: #B2B2B2;
$light_blue: #9BC8DA;

h1 {
  font-size: 33px;
}

a{
  width: 10%;
}

.light-blue-container{
  background-color: $light_blue;
}

.light-grey-container{
  background-color: $light_grey;
}

.colored-container{
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 30px;
  text-align: center;
}

.date-time-block{
  min-width: 20%;
    list-style-type: none;
    padding-top: 16px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.location-block{

}

.location-block-container{
  margin-top: 30px;
  margin-bottom: 0px;
  display: inline-table;
  font-size: 20px;
  cursor: pointer;
}

.date-time-block-container{
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.location_block{
  display: inline-block;
}

#location_icon{
  height: 46px;
  margin-right: 10px;
}

#location_description{
  height: 46px;
  width: 20%;
  display: inline-block;
}

.location_name-block{
  width: 20%;
    list-style-type: none;
    padding-top: 16px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.location-description-block{
  display: table-cell;
  vertical-align: middle;
}

/* CSS ABOUT PARTICIPATION PAGE */


.participant-container{
  margin: 4px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: left;
  min-height: 36px;
  line-height: 36px;
}

.right-buttons-container{
  float: right;
  width: 35%;
}

.right-buttons{
  display: inline;
  float: right;
  padding-left: 4%;
  padding-right: 4%;
  margin-right: 1%;
  margin-left: 1%;
}

.only-admin{
  visibility: visible;
}
