// Place all the styles related to the Notification controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "main.scss";


.response-button{
  width: 62%;
  margin: 2% auto 4%;
  display: inline-block;
}

