// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "main.scss";

input.error {
	border-color: red;
}

.error-description {
	margin-bottom: 10px;
	color: red;
}