// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "main.scss";
@import "calendar";
.mainContent {
  //color: $dark_grey;
}

/* CSS about show user */

input.error {
  border-color: red;
}

.error-description {
  margin-bottom: 10px;
  color: red;
}

/* CSS about show user page */

.profile-detail {
  padding: 10px;
}

#roundedImages {
  align-self: center;
  margin-top: 5%;
  width: 280px;
  border-radius: 50%;
}

#name-surname {
  font-size: 44px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 18px;
}

.nickname-container{
  font-size: 22px;
  font-style: italic;
  margin: 5px 5px 25px;
}

.email-container {
  width: 40%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}

.profile-page-buttons {
  margin: 20px auto 10px;
}

.social-boxes {
  padding: 9px 5px 5px;
  width: 55px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-icon {
  width: 45px;
}

.social-container {
  display: inline-flex;
}

.logout{
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  color: black;

}

/* CSS for contacts page */

#select_origin {
  width: calc(80% + 30px);
}

.subtitle-contacts {
  margin-top: 40px;
  color: $dark_grey;
}

/* CSS for Settings page */

#preference-list-container {
  width: 54%;
  margin-right: auto;
  margin-left: auto;
}

.constraint-container {
  padding: 8px 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.title-add-container {

  margin-top: 10px;
  margin-bottom: 5px;
  padding: 8px 13px 8px 36px;
  font-size: 1.5em;
  font-weight: bold;
  color: #575756;
}

.list-of-default-location{
  margin-top: 20px;
  margin-bottom: 20px;
}

.delete-image {
  float: right;
  height: 19px;
}

.add-image {
  float: right;
  height: 23px;
  cursor: pointer;
}

.add-icon {
  float: right;
}

/* CSS for create constraint page */
select, option{
  @extend .colored-container;
  @extend .white-container;
  padding: 3px;
}

/* CSS for edit profile page only */
.add-email-div{
  display: none;
}