// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* main content of the site */
#content .mainContent {
	float: left;
	margin-left: 26%;
	width: 70%;
	text-align: center;
	padding-left: 4%;
	padding-top: 20px;
}

/* Main content of the site */
#content {
	clear: both;
	overflow: auto;
	padding-top: 30px;
}
