<%= render 'shared/header' %>
<div id="content">
  <%= render 'shared/sidebar' %>
  <section class="mainContent">
    <div class='innerContent'>
    <h1> <%= @meeting.title %> </h1>
    <h3> <%= @meeting.abstract %> </h2>
      
  </div>
  </section>
</div>
